<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
       <div class="about content">
            <h2>About us</h2>
            <p>Loren ipsum dolor, sit aasdass sadsadas dsadasdasd asdasd asdas</p>
            <p>Loren ipsum dolor, sit aasdass sadsadas dsadasdasd asdasd asdas</p>
            <p>Loren ipsum dolor, sit aasdass sadsadas dsadasdasd asdasd asdas</p>
            <p>Loren ipsum dolor, sit aasdass sadsadas dsadasdasd asdasd asdas</p>
       </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>